@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');



smc-overlay-inner {
  --smc-mainBkg: #ffffff;
  --smc-textColour: #000000;
  --smc-font2: "Playfair Display", serif;
  --smc-btnBkg: #000000;
  --smc-btnText: #ffffff;
  --smc-btnBorder: 1px solid #000000;
  --smc-btnBkgHover: #ffffff;
  --smc-btnBorderRadius: 1px;
  --smc-frameBorderRadius: 2px;
}

smc-bg * {
  font-family: 'Raleway', sans-serif;
  font-feature-settings: 'lnum' 1;
}

smc-bg {
  background-color: rgb(210 210 210 / 60%);
  backdrop-filter: blur(3px);
}

smc-overlay-inner {
  background-color: var(--smc-mainBkg);
  width: 420px;
  min-height: auto;
  border-radius: var(--smc-frameBorderRadius);
  padding-bottom: 20px;
  overflow: hidden;
}
smc-text-outer{
  width: 90%;
}

.smc-text1,
.smc-text2,
.smc-text3 {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  line-height: 1.2;
  margin: 15px auto;
  color: var(--smc-textColour);
}

.smc-text1 {
	font-size: 26px;
	margin: 250px auto auto auto;
	font-weight: normal;
	font-family: var(--smc-font2);
}
.smc-text2 {
  margin: 15px auto 15px auto;
  font-size: 14px;
}


.smc-button {
  max-width: 180px;
  margin: 15px auto 0 auto;
  background-color: var(--smc-btnBkg);
  color: var(--smc-btnText);
  border: var(--smc-btnBorder);
  font-size: 14px;
  font-weight: 500;
  border-radius: var(--smc-btnBorderRadius);
  padding:12px;
  /* text-transform: uppercase; */
}
.smc-button:hover {
  background-color: var(--smc-btnBkgHover);
  color: var(--smc-btnBkg);
}
smc-close {
  font-size: 14px;
  top: 10px;
  right: 10px;
}

smc-close a.smc-link {
  color: #000;
}

.smc-image{
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height:250px;
  background-image: url('{content6}');
  background-size: 480px;
  background-position-x: -60px;
  background-position-y: -40px;
}