@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700');

smc-overlay-inner {
	--smc-mainBkg: #ffffff;
	--smc-cardBkg: #ffffff;
	--smc-textColour: #19124f;
	--smc-textColour2: #000000;
	--smc-borderColour: #e7e7e7;
	--smc-btnBkg: #000000;
	--smc-btnText: #ffffff;
	--smc-btnBorderRadius: 4px;
	--smc-frameBorderRadius: 2px;
	--smc-cardBorderRadius: 5px;
}

smc-bg * {
	font-family: 'Montserrat', sans-serif;
}

smc-bg {
	background-color: transparent;
	pointer-events: none;
}

smc-overlay-outer {
	position: absolute;
	bottom: 10px;
	right: 10px;
}

smc-overlay-inner {
	background: var(--smc-mainBkg);
	background-size: cover;
	width: 550px;
	min-height: 60px;
	border-radius: var(--smc-frameBorderRadius);
	pointer-events: all;
	padding: 0;
	margin: auto;
}

smc-cart {
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: var(--smc-cardBkg);
	width: 100%;
	height: 100%;
	padding: 2px;
	display: flex;
	justify-content: center;
	overflow: hidden;
	border-radius: var(--smc-cardBorderRadius);
	align-items: flex-start;
	border: 1px solid var(--smc-borderColour);
}

smc-product {
	align-self: center;
	height: 100%;
	display: flex !important;
	flex-direction: row;
	width: 100%;
}

smc-left,
smc-right {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 20%;
	flex-direction: column;
}

smc-right {
	display: flex;
	flex-direction: row;
	padding: 0;
	width: 100%;
	justify-content: space-between;
}

smc-product-img,
smc-product-name,
smc-product-rating,
smc-prices,
smc-product-desc {
	display: block;
	margin: 5px auto;
	font-weight: 300;
	font-size: 14px;
	color: var(--smc-textColour);
	width: 100%;
	text-align: left;
}

smc-product-img {
	max-width: 70px;
	max-height: 70px;
	display: flex;
	align-items: center;
	overflow: hidden;
	margin: auto;
}

smc-product-img img {
	width: 100%;
	height: auto;
}

smc-product-name {
	font-size: 14px;
	text-overflow: ellipsis;
	color: var(--smc-textColour2);
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	font-weight: 600;
	line-height: 1.2;
	width: 270px;
}



.smc-button {
	max-width: 200px;
	margin: 0;
	padding: 10px;
	border-radius: var(--smc-btnBorderRadius);
	font-size: 14px;
	color: var(--smc-btnText);
	background-color: var(--smc-btnBkg);
	font-weight: 500;
	height: 95%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.smc-button span {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

smc-product-price {
	font-weight: 400;
	font-size: 14px;
	color: #fff;
}

smc-close {
	top: -5px;
	left: -5px;
	background: #fff;
	width: 20px;
	height: 20px;
}

smc-close a.smc-link {
	color: var(--smc-textColour2);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 11px;
}
smc-long-close{
	position: absolute;
	bottom: -30px;
}