@import url("https://fonts.googleapis.com/css2?family=Arsenal:wght@400;700&family=Poppins:wght@300;400;500&display=swap");

smc-overlay-inner {
  --smc-mainBkg: #494949;
  --smc-cardBkg: #ffffff;
  --smc-textColour: #ffffff;
  --smc-textColour2: #000000;
  --smc-borderColour: #ffffff;
  --smc-font2: "Arsenal", sans-serif;
  --smc-btnBkg: #be8d2d;
  --smc-btnText: #ffffff;
  --smc-btnBkgHover: #235a70;
  --smc-btnBorderRadius: 999px;
  --smc-frameBorderRadius: 2px;
  --smc-btnFontSize: 12px;
  --smc-btnPadding: 12px;
}

smc-bg * {
  font-family: "Poppins", sans-serif;
}

smc-overlay-inner {
  background-color: var(--smc-mainBkg);
  /* background-image: url('{content6}'); */
  background-position: center left;
  background-size: cover;
  width: 745px;
  min-height: 383px;
  padding-bottom: 0;
  overflow: hidden;
  border-radius: var(--smc-frameBorderRadius);
  border: 1px solid var(--smc-borderColour);
}

/* Align the content Left */
smc-img-outer,
smc-text-outer,
smc-option,
smc-long-close {
  min-width: 190px;
  max-width: 190px;
  margin: 0 0 0 25px;
}

smc-option {
  display: none;
}

.smc-text1,
.smc-text2 {
  font-size: 14px;
  font-weight: 400;
  margin: 10px auto;
  text-align: left;
  color: var(--smc-textColour);
}

.smc-text1 {
  font-size: 28px;
  font-family: var(--smc-font2);
  font-weight: bold;
  margin: 25px auto 20px auto;
}

.smc-text2 {
  line-height: 1.3;
}

.smc-img1 {
  max-width: 68px;
  margin: 95px auto 0 0;
}

smc-option,
smc-input-group,
.smc-button {
  min-width: 220px;
  max-width: 220px;
  margin: 0;
}

smc-close {
  font-size: 12px;
  top: 25px;
  right: 25px;
}

smc-close a.smc-link {
  color: var(--smc-textColour2);
}

smc-cart {
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
  width: auto;
  height: 100%;
  padding: 20px;
  align-items: center;
  justify-content: center;
  background-color: var(--smc-cardBkg);
  gap: 15px;
}

smc-product {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 220px;
  height: 100%;
  padding: 0;
}

smc-product-img {
  width: 200px;
  height: 180px;
  flex-shrink: 0;
}

smc-product-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: calc(var(--smc-frameBorderRadius) / 3);
}
smc-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 5px;
}

smc-product-name,
smc-product-desc,
smc-product-price,
smc-product-oldprice,
smc-product-link {
  display: flex;
  font-size: 14px;
  text-align: left;
  width: 100%;
  margin: 0 auto;
}

smc-product-name {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 1.2;
  margin: 0;
  min-height: 34px;
}

smc-product-link {
  margin: 12px auto 0 auto;
  text-align: center;
  font-weight: bold;
  font-size: var(--smc-btnFontSize);
  padding: var(--smc-btnPadding);
  background-color: var(--smc-btnBkg);
  color: var(--smc-btnText);
  border-radius: var(--smc-btnBorderRadius);
  transition: all 0.5s ease !important;
  cursor: pointer;
  user-select: none;
}

smc-product-link:hover {
  background-color: var(--smc-btnBkgHover);
}
