@import url("https://fonts.smct.co/smc-futuraPT/smc-futuraPT.css");

smc-bg * {
font-family: "FuturaPTBook", sans-serif;
}

smc-overlay-inner {
--smc-mainBkg: #ffd814;
--smc-textColour: #000;
--smc-btnBkg: #1c1c1c;
--smc-btnBkgHover: #4d4d4d;
--smc-frameBorderRadius: 2px;
--smc-btnBorderRadius: 2px;
--smc-btnFontSize: 14px;
--smc-btnPadding: 14px 0;
}

smc-overlay-inner {
background: url('{content6}');
background-size: cover;
width:700px;
min-height: 300px;
padding: 30px;
border-radius: var(--smc-frameBorderRadius);
overflow: hidden;
}

smc-option {
display: none;
}

smc-text-outer{
width: 100%;
}
.smc-text1,
.smc-text2,
.smc-text3,
.smc-text4 {
font-weight: 300;
font-size: 20px;
color: var(--smc-textColour);
line-height: 1.2;
text-align: left;
}

.smc-text1 {
font-weight: 700;
font-size: 27px;
margin: 10px auto 10px auto;
}

.smc-text2 {
font-weight: 300;
font-size: 18px;
margin: 10px auto 30px auto;
}

smc-close a.smc-link {
color: #fff;
}

smc-multi-holder {
bottom: 30px;
width:100%;
margin: auto;
display: flex;
flex-direction: row;
gap: 5px;
}
smc-multi-cta {
width: 25%;
text-align: center;
cursor: pointer;
background-color: #fff;
padding:10px;
gap: 10px;
display: flex;
flex-direction: column;
transition: all 0.3s ease;
}
smc-multi-cta:hover{
box-shadow: 10px 10px 10px #333;
}
smc-multi-cta img {
max-width: 100%;
}
smc-multi-cta span {
background-color: var(--smc-btnBkg);
margin: 0 ;
color: #fff;
padding: var(--smc-btnPadding);
text-align: center;
cursor: pointer;
border-radius: var(--smc-btnBorderRadius);
font-size: var(--smc-btnFontSize);
width: 100%;
display: flex;
align-items: center;
justify-content: center;
}
smc-multi-cta span:hover{
background-color: var(--smc-btnBkgHover);
}
