@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
smc-bg * {
  font-family: "Montserrat", sans-serif;
  /* border: 1px solid #333; */
}

smc-bg {
  background-color: rgb(210 210 210 / 60%);
  backdrop-filter: blur(1px);
}
smc-overlay-inner {
  --smc-mainBkg: #eaeaea;
  --smc-textColour: #222;
  --smc-cardText: #222;
  --smc-textColour2: #222;
  --smc-font2: "Playfair", serif;
  --smc-font-Sm: 12px;
  --smc-font-Rg: 16px;
  --smc-font-Lg: 34px;
  --smc-btnBkg: #ffc107;
  --smc-btnText: #000;
  --smc-btnFontWeight: 400;
  --smc-btnBkgHover: #646464cb;
  --smc-btnBorder: 1px solid #ffb300cb;
  --smc-btnBorderRadius: 5px;
  --smc-btnPadding: 12px;
  --smc-btnFontSize: 14px;
  --smc-frameBorder: 12px;
}
smc-overlay-inner {
  background-color: var(--smc-mainBkg);
  width: 650px;
  min-height: 270px;
  border-radius: var(--smc-frameBorder);
  overflow: hidden;
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 0;
}
smc-long-close,
smc-text:empty {
  display: none;
}
smc-wrap {
  display: flex;
  flex-direction: column;
  padding: 30px;
  width: calc(50% - 10px);
}
smc-img-outer,
smc-text-outer,
smc-option {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-width: auto;
  width: 100%;
}

.smc-text1,
.smc-text2,
.smc-text3 {
  font-size: 18px;
  text-align: center;
  line-height: 1.2;
  margin: 0;
  font-weight: normal;
  color: var(--smc-textColour);
}

.smc-text1 {
  font-size: var(--smc-font-Lg);
  font-family: var(--smc-font2);
}

.smc-text2 {
  margin: 10px auto 20px auto;
  font-size: var(--smc-font-Rg);
}

.smc-button {
  padding: var(--smc-btnPadding);
  font-size: var(--smc-btnFontSize);
  margin: 0;
  width: 100%;
  border: 1px solid var(--smc-btnBkg);
  color: var(--smc-btnText);
  background-color: var(--smc-btnBkg);
  font-weight: var(--smc-btnFontWeight);
  border-radius: var(--smc-btnBorderRadius);
}

.smc-button:hover {
  background-color: var(--smc-btnBkgHover);
}

smc-close {
  font-size: 14px;
  top: 10px;
  right: 10px;
}
smc-close a.smc-link {
  color: var(--smc-textColour);
}

.smc-image {
  display: flex;
  width: 50%;
  background-image: url("{content6}");
  background-size: cover;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-position: center;
}
