@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,700');

smc-bg * {
font-family: 'Poppins', sans-serif;
}

smc-overlay-inner {
--smc-bg: #F7C8E0;
--smc-text: #123063;
--smc-btn: #2B8333;
--smc-border: 10px;
--smc-banner:#3498db;
}

smc-overlay-inner {
background-color: var(--smc-bg);
border-radius: var(--smc-border);
width: 400px;
min-height: auto;
padding: 30px;
}

smc-text-outer, smc-option {
width: 100%;
position: relative;
min-width: auto;
}

.smc-img1 img {
border-radius: var(--smc-border);
}

.smc-img2 {
position: absolute;
bottom: 0;
right: 0;
width: 350px;
height: 350px;
overflow: hidden;
z-index: 0;
}

.smc-img2 img {
margin: 50px -60px auto auto;
filter: invert(1);
opacity: 0.4;
}

/* common */
smc-offer-banner {
width: 200px;
height: 200px;
overflow: hidden;
position: absolute;
z-index: 1;
}

smc-offer-banner::before,
smc-offer-banner::after {
position: absolute;
z-index: -1;
content: '';
display: block;
border: 5px solid var(--smc-banner);
filter: brightness(.7);
}

smc-offer-banner span {
position: absolute;
display: block;
width: 300px;
padding: 15px 0;
background-color: var(--smc-banner);
box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
color: #fff;
font-size: 16px;
font-weight: 700;
text-align: center;
right: -27px;
top: 68px;
transform: rotate(-45deg);
}

smc-offer-banner {
top: -10px;
left: -10px;
}

smc-offer-banner::before,
smc-offer-banner::after {
border-top-color: transparent;
border-left-color: transparent;
}

smc-offer-banner::before {
top: 0;
right: 0;
}

smc-offer-banner::after {
bottom: 0;
left: 0;
}

.smc-text1,
.smc-text2,
.smc-text3,
.smc-text4 {
font-size: 16px;
font-weight: 400;
margin: 10px auto;
color: var(--smc-text);
line-height: 1.2;
}

.smc-text2 {
font-weight: 700;
font-size: 26px;
}

smc-reveal {
max-width: 220px;
min-height: 35px;
}

smc-cover {
border-radius: 5px;
font-size: 16px;
padding: 14px;
font-weight: 700;
background-color: var(--smc-btn);
color: #fff;
}
smc-cover:hover{
filter: brightness(0.9);
}
smc-code {
font-size: 16px;
padding: 11px;
border-radius: 5px;
opacity: 0;
}

smc-code.smc-eng {
left: -60px;
width: 90%;
opacity: 1;
}

smc-long-close.smc-engaged {
position: relative;
margin: -45px auto 0 200px;
bottom: auto;
max-width:140px;
}

smc-long-close.smc-engaged>a.smc-link {
background: var(--smc-btn);
display: block;
margin: auto;
border-radius: 5px;
font-size: 16px;
padding: 12px;
font-weight: 700;
background-color: var(--smc-btn);
color: #fff;
}
smc-long-close.smc-engaged>a.smc-link:hover{
filter: brightness(0.9);
}
smc-cp {
position: absolute;
right: 85px;
top: 6px;
height: 32px;
width: 30px;
z-index: 1;
cursor: pointer;
background: center / 70% no-repeat url("https://cdn.smct.io/65845-696.png");
opacity: 0.5;
display: block;
}

smc-cp:hover {
opacity: 1;
}

smc-cp-msg {
position: absolute;
bottom: 2px;
background: rgba(0, 0, 0, 0.479);
color: #fff;
left: 50%;
width: 300px;
padding: 7px;
z-index: 10;
margin-left: -150px;
text-align: center;
font-size: 11px;
display: none;
border-radius: 4px;
}

smc-close {
top: -5px;
right: -5px;
width: 25px;
height: 25px;
background: var(--smc-bg);
}

smc-close:hover {
background: var(--smc-bg)
}

smc-close a.smc-link {
color: #000;
display: flex;
justify-content: center;
align-items: center;
font-size: 14px;
}
